html,
body {
    height: 100%
}

polygon {
    stroke: beige;
    stroke-width: 2px;
    fill: grey;
}

.text_map {
    fill: black;
    font: bold 14pt sans-serif;
}

#district_graph {
    display: none;
}

text {
    background-color: beige;
}

.wrapper_map {
    width: 60%;
    margin: 0 auto;
}

.graph_data {
    position: relative;
}

#map_container {
    width: 50%;
}

h1 {
    text-align: center;
    font-family: sans-serif;
}

.text_legend {
    fill: black;
    font: bold 14pt sans-serif;
}

#top_part {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#map_container {
    width: 100%;
    height: auto;
}

@media only screen and (min-width: 800px) {
    #map_container {
        width: 45%;
        height: 45%;
        margin-left: 2%;
    }
    #wrapper_destra {
        height: auto;
        width: 42%;
        margin-right: 5%;
    }
    #info {
        margin: auto;
        width: 80%;
        font-size: 14pt;
    }
    #top_part {
        display: flex;
        flex-direction: row;
    }
}

@media only screen and (orientation: portrait) {
    #wrapper_destra {
        width: 90%;
        margin-right: 5%;
        height: auto;
    }
    #info {
        margin: auto;
        width: 90%;
        font-size: 14pt;
    }
    #top_part {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #map_container {
        width: 100%;
        height: auto;
        margin: auto;
    }
}

.links {
    padding-left: 1em;
    padding-top: 1em;
}

footer {
    background-color: #f3f3f3;
    margin-top: 25px;
    margin-left: -10px;
    padding-left: 10px;
    margin-right: -10px;
    padding-right: 10px;
    padding-bottom: 10px;
}