html,body{height:100%}
.wrapper_map {
    width: 60%;
    margin: 0 auto;
}
polygon{
    stroke: beige;
    stroke-width: 2px;
    fill: grey;
}
.text_map{
    fill: black;
    font: bold 22pt sans-serif;
    /*text-shadow: -0.5px 0 white, 0 0.5px white, 0.5px 0 white, 0 -0.5px white;*/
}
#district_graph{
    display: none;
}
.sm_txt{
    font-size: 14pt;
}

#map_container{
    width: 43%;
    margin-left: 5%;
}
text{
    background-color: beige;
}
